{% extends "base.html" %}

{% block title %}Crear Cuenta - Edugenius{% endblock %}

{% block content %}
<div class="container">
    <h1>Eugenius</h1>
    <h2>Create new Account</h2>
    <p>Already Registered? <a href="{{ url_for('login') }}" style="color: white; text-decoration: underline;">Login</a></p>
    <form>
        <input type="text" placeholder="Name" value="Benjamin Shah" required>
        <input type="email" placeholder="Email" value="@userExample" required>
        <input type="password" placeholder="Password" value="********" required>
        <input type="date" placeholder="Date of Birth" required>
        <button type="submit" class="button">Sign Up</button>
    </form>
</div>
{% endblock %}
