{% extends "base.html" %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<div class="text-center py-8">
    <h1 class="text-4xl font-bold">Usuarios Registrados</h1>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {% for user in users %}
    <div class="card p-4">
        <h2 class="text-2xl font-semibold mb-4">{{ user.username }}</h2>
        <p>Email: {{ user.profile.email }}</p>
        <p>Fecha de nacimiento: {{ user.profile.birthdate }}</p>
        <p>Género: {{ user.profile.gender }}</p>
        <p>Intereses: {{ user.profile.interests }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
