body {
    /*color de fondo de la aplicacion*/
    background-color: #04144b;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 70px; /* Ajuste para la navbar fija */
}

.container {
    text-align: center;
    padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.button, .btn {
    background-color: white;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover, .btn:hover {
    background-color: #F7F9F9;
}

.card {
    background-color: white;
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-top: 50px;
}

.card-body {
    text-align: left;
}

.form-group label {
    color: #000000;
}

.response {
    background-color: white;
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

label {
    margin-top: 20px;
    font-weight: bold;
    display: block;
    text-align: left;
    color: white; /* Asegúrate de que las etiquetas sean visibles */
}

select[multiple] {
    height: auto; /* Ajusta la altura del select múltiple para que se ajuste al contenido */
}
